.feed {
  display: grid;
  /* Убедитесь, что нет пробела перед (250px */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 16px;
  row-gap: 30px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.card h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
  color: black;
}
.card h3 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin: 3px 0;
}
.card p {
  font-size: 14px;
  font-weight: 400;
  color: #555;
}
