.play-video {
  flex-basis: 70%;
  margin-top: 20px;
}
.play-video video {
  width: 100%;
}
.play-video h3 {
  margin-top: 10px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}
.play-video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  color: #555;
  margin-left: 10px;
  margin-right: 10px;
}

.play-video-info img {
  width: 20px;
  margin-right: 5px;
}
.play-video-info span {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.play-video hr {
  margin-bottom: 10px;
}
.publisher {
  display: flex;
  align-items: center;
}
.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 10px;
}
.publisher div {
  flex: 1;
  line-height: 18px;
}
.publisher div p {
  font-weight: 600;
}
.publisher div span {
  font-weight: 300;
}
.play-video button {
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
}
.video-desc {
  margin-left: 65px;
}
.video-desc p {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
.video-desc h4 {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
.video-desc img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.comment {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.comment h3 {
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 0;
}
.comment h3 span {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-left: 20px;
}
.comment-actions {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 14px;
}
.comment-actions img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.comment-actions span {
  margin-right: 12px;
  color: #555;
  font-weight: 400;
}
