/* Основные стили */
.home {
  display: flex;
  padding-top: 10px;
}

.continer {
  background: #f9f9f9;
  width: 100%;
  padding: 20px 2%;
  transition: 0.3s;
  /* Когда sidebar открыт (15%), отступаем на 15% */
  margin-left: 15%;
}
.dark-overlay {
  display: none; /* По умолчанию скрыт на ПК */
}
.continer.large-container {
  margin-left: 5% !important;
  padding-left: 2%;
}
/* Мобильная версия (до 900px) */
@media (max-width: 900px) {
  .home {
    display: block; /* Убираем flex, чтобы Sidebar не толкал Feed вбок */
  }

  .continer {
    width: 100%;
    padding: 10px 5px; /* Минимальные отступы по бокам */
    margin-left: 0 !important;
  }
  .dark-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 900; /* Чуть ниже сайдбара, но выше контента */
    cursor: pointer;
  }
}
