.sidebar {
  width: 15%;
  height: 100vh;
  background: #fff;
  top: 45px;
  padding-top: 20px;
  position: fixed;
  transition: 0.3s; /* Добавляем плавность для изменения ширины */
  display: flex;
  flex-direction: column;
}
.side-link {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%; /* Растягиваем на всю ширину сайдбара */
  padding-left: 15%; /* Отступ для текста в широком режиме */
  cursor: pointer;
}
.side-link img {
  height: 25px;
}
.subscribed-list {
  gap: 10px;
}
.subscribed-list h3 {
  margin: 10px 0;
  font-size: 14px;
  color: #5a5a5a;
}
.subscribed-list img {
  border-radius: 50%;
}
/* .sidebar-small {
  width: 5%;
} */
.sidebar-small {
  width: 5%; /* Принудительно сужаем до 5% */
  padding-left: 0; /* Убираем левый отступ, чтобы центровать по всей ширине */
  align-items: center;
}
.sidebar-small p {
  display: none;
}
.sidebar-small h3 {
  display: none;
}
.sidebar-small hr {
  width: 55%;
  margin-bottom: 25px;
}
.side-link.active img {
  padding-bottom: 2px;
  border-bottom: 2px solid red;
}
/* Sidebar.css */

/* Sidebar.css */

@media (max-width: 900px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0px;
    left: -100%; /* Полностью прячем */
    width: 240px;
    height: 100%;
    background: white;
    z-index: 1000;
    transition: 0.4s ease; /* Плавная анимация */
    padding: 20px 0px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  }

  /* Этот класс теперь будет работать благодаря правке в JSX */
  .sidebar.active-mobile {
    left: 0;
  }

  /* Убеждаемся, что текст ссылок виден */
  .sidebar p {
    display: block !important;
  }
  .sorcut-links hr {
    display: none;
  }
}
