.recommended {
  width: 27%;
  margin-right: 2%;
  gap: 10px;
}
.side-video-list {
  display: flex;

  margin-bottom: 10px;
}
.recommended img {
  width: 200px;
  border-radius: 10px;
  margin-right: 3%;
}

.vid-info h4 {
  font-size: 16px;
}
.vid-info p {
  font-size: 14px;
  color: #555;
  font-weight: 400;
  margin-top: 4px;
}
